{
	"appId":"535A344071436",
	"appKey":"535A344071436_ANDROID",
	"base64Code":"",
	"packageName":"com.org.demo",
	"rootPath":"mpaas/android/535A344071436-test",
	"workspaceId":"test",
	"rpcGW":"https://cn-hangzhou-mgs-gw.cloud.alipay.com/mgw.htm",
	"mpaasapi":"https://cn-hangzhou-component-gw.cloud.alipay.com/mgw.htm",
	"pushPort":"443",
	"pushGW":"cn-hangzhou-mps-link.cloud.alipay.com",
	"logGW":"https://cn-hangzhou-mas-log.cloud.alipay.com",
	"syncport":"443",
	"syncserver":"cn-hangzhou-mss-link.cloud.alipay.com"
}