<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.org.demo.launcher">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <!-- Application 的回调配置 -->
        <meta-data
            android:name="agent.application"
            android:value="com.org.demo.launcher.agent.ApplicationAgent" />

        <!-- Activity 的回调配置 -->
        <!--   <meta-data
               android:name="agent.activity"
               android:value="com.mpaas.demo.launcher.framework.MockLauncherActivityAgent"/>-->

        <activity android:name="com.org.demo.launcher.MainActivity" />
    </application>

</manifest>
